<div class="row">
    <div div class="card-group">
        <div *ngFor="let t of getTickets(); let i = index" style="width:250px;">
            <div class="card h-100" style="margin-top:30px;" (click)="updateTicket(t);openSm(print)">
                <div class="card-body">
                  <h5 class="card-title"><div class="col"><b>{{t.client}}</b></div></h5>
                  <div class="row">
                    <div class="col"><p class="card-text" style="color: gray;">{{printDate(t)}}{{datetime}}</p></div>
                  </div>
                  <br/>
                  <!-- Display Ticket -->
                  <div class="row" style="border-bottom-style: solid; border-width: 1px;">
                    <div class="col-sm-5">Producto</div>
                    <div class="col-sm-3">Und</div>
                    <div class="col-sm-4">Total</div>
                  </div>
                  <div class="row" *ngFor="let cp of t.clientproducts">
                    <div class="col-sm-5">{{cp.product}}</div>
                    <div class="col-sm-3">{{cp.quantity}}</div>
                    <div class="col-sm-4">{{cp.quantity*cp.price}}</div>
                  </div>
                  <div class="row" style="border-bottom-style: solid; border-top-style: solid; border-width: 1px;">
                    <div class="col-md-8"></div>
                    <div class="col-md-4"><b>{{t.total.toFixed(2)}}€</b></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:40px;">
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-danger" routerLink='/clients'>Atras</button>
    </div>
</div>

<ng-template #print let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Ticket de: {{ticket.client}}</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" style="margin: auto;">
    <div class="ticket">
        <div class="text-center">
            <img class="rounded" src="favicon.ico" alt="Logo" style="max-width: 50%;">
        </div>
            <div class="centered" style="font-size: 11px;">Calle la red
                <br/>Diecisiete, nº53
                <div class="row row-cols-2">
                    <div class="col-8" style="font-size: 10px; color: gray;">Factura Simplificada {{datetime}}</div>
                    <div class="col-3" style="font-size: 10px; color: gray;">Cliente: {{ticket.client}}</div>
                </div>
            </div>
        <div class="row row-cols-4" style="border-bottom-style: solid;border-top-style: solid;border-width:1px; font-size: 10px;">
            <div class="col-1">Ud</div>
            <div class="col-4" style="text-align: left;">Articulo</div>
            <div class="col-lg-3">Precio</div>
            <div class="col-lg-2">Importe</div>
        </div>
        <div *ngFor="let cp of clientproducts" class="row row-cols-4">
            <div class="col-1">{{cp.quantity}}</div>
            <div class="col-4">{{cp.product}}</div>
            <div class="col-lg-3">{{cp.price}}</div>
            <div class="col-lg-2">{{(cp.quantity*cp.price).toFixed(3)}}</div>
        </div>
        <div  class="row row-cols-4" style="border-bottom-style: solid;border-top-style: solid;border-width:1px;">
            <div class="col-7">Total:</div>
            <div class="col-lg-5">{{ticket.total.toFixed(2)}}€</div>
        </div>
        <br/>
        <p class="centered">Gracias por su visita!
            <br/>solopadelsevilla.es<br/>.</p><br/><br/>
        <div class="btn-group" style="margin: auto;">
            <button id="btnPrint" class="return card-bottom-sm hidden-print" (click)="modal.close();"></button>
            <button type="button" role="button" class="button-delete card-bottom-sm" (click)="deleteTicket(ticket);modal.close();refresh()" style="margin-left: 40px;"></button>
        </div>
        
        
    </div>
  </div>
</ng-template>