<div class="content" style="  background-image: url('assets/images/Solopadel.jpg');background-size: cover;">
    <div class="justify-content-center">
        <br/>
        <div class="row mx-auto" style="background: rgba(131, 131, 131, 0.9); border-bottom-style: solid;border-width:1px;">
            <hr/>
            <div class="col" style="text-align: center;"><h1 style="color: black;">Cuentas</h1></div>
            <br/>
        </div>
        <br/>
        <div class="row text-center">
            <div class="col">
                <div *ngFor="let client of clients" style="display: inline;">
                    <button class="accounts" [routerLink]="['/clients', client.name]">{{ client.name }}</button>
                </div>
                <button type="button" class="newaccount" (click)="modal.open(contenido)" style="display: inline;">Nuevo</button>
            </div>
        </div>
        <br/>
    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Crear Cliente</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
                <input type="text" class="form-control" id="name" [(ngModel)]="client.name" name="name">
            </div>
            <br/>
            <button type="button" class="btn btn-success" (click)="saveClient();modal.close();" routerLink="/clients">Save Client</button>
        </form>
    </div>
</ng-template>