<div class="my-container container-fluid">
    <br/><br/>
    <div class="client-container justify-content-center">
        <div class="row mx-auto">
            <hr/>
            <div class="col" style="text-align: center;"><h1>Cuentas</h1></div>
            <hr style="color: black;"/><br/>
        </div>
        <div class="row text-center">
            <br/>
            <div class="col align-self-center">
                <input
                    type="text"
                    [(ngModel)]="filter"
                    (input)="filterClients()"
                    placeholder="Filtrar clientes"
                    class="filter"
                />
            </div>
            <div class="card-group justify-content-center" style="margin-top: 30px;">
                <div *ngFor="let client of clientsFilter" style="width:180px;">
                    <div class="card clientcard" [routerLink]="['/clients', client.name]">
                        <div class="card-body">
                            <h5 class="card-title">{{ client.name }}</h5>
                            <ul class="list-group list-group-flush" style="margin-bottom: 0px;">
                                <li class="list-group-item bottom"> Total: {{getTotal(client)}} €</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <button class="accounts full-width" [routerLink]="['/clients', client.name]">{{ client.name }}</button> -->
                </div>
                <button type="button" class="newaccount full-width" (click)="modal.open(contenido)" style="display: inline;"></button>
            </div>
        </div>
        <br/><br/><br/>
    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Crear Cliente</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
                <input type="text" class="form-control" id="name" [(ngModel)]="client.name" name="name" (keydown.enter)="saveClient();modal.close();">
            </div>
            <br/>
            <button type="button" class="btn btn-success" (click)="saveClient();modal.close();" routerLink="/clients">Save Client</button>
        </form>
    </div>
</ng-template>